*{
    margin: 0px;
    padding: 0px;
}
.head-info{
    text-align: center;
}
.container{
    height: 40%;
    width: 40%;
    padding: 10px;
    background-color:aqua;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-content: center;
}
.container  div{
    padding: 3px;
    height: 12%;
    width: 12%;
}