*{
    margin: 0;
    padding: 0;
}
body{
    color: black;
}
header{
    margin-bottom: 50px;
}
header h1{
    text-align: center;
    
}
#container{
    height: 80vh;
    width: 80vh;
    background-color: aliceblue;
    box-shadow: 0 0 10px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#watchBody{
    height: 90%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.778);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */

    animation: secondRotate 60s cubic-bezier(0.42, 0, 0.58, 1) forwards ;
    animation-iteration-count: infinite;
}
#watchBody div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    font-size: 25px;
}
#watchSeconds{
    height: 40%;
    width: 2%;
    background-color: red;
    position: absolute;
    animation-name: secondRotate 1s cubic-bezier(0.42, 0, 0.58, 1) forwards ;;
}
#watchMinutes{
    height: 30%;
    width: 5%;
    background-color: green;
    position: absolute;
}
#watchHours{
    height: 20%;
    width: 7%;
    background-color: blue;
    position: absolute;
}
@keyframes secondRotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}