*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: black;
    color: white; */
}
header h1{
    text-align: center;
    margin-bottom: 50px;
}

#container{
    height: 90vh;
    width: 90vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#watchBody{
    height: 80%;
    width: 80%;
    background-color: aqua;
    border-radius: 50%;
    position: relative;
}
#center{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#watchSeconds{
    height: 200px;
    width: 20px;
    background-color: black;
    border-radius: 40% 40% 0 0;
    position: absolute;
    top: -600%;
    left: 15%;
}
#watchMinutes{
    height: 100px;
    width: 30px;
    background-color: black;
    border-radius: 40% 40% 0 0;
    position: absolute;
    top: -600%;
    left: 15%;
}
#watchHours{

}