body, html{
    height: 100%;
    width: 100%;
    /* background-color: black; */
}

.container{
    height: 3rem;
    width: 15rem;
    border: 1px solid orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(240, 248, 255, 0.891);
    box-shadow: 2px 2px 6px black;
    border-radius: 10px;
    opacity: .5;
    text-align: center;
}